.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
margin: 0;
padding: 0;
}
body{
width: 100%;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  

  .Logo{
    width: 139px;
    height: 139px;
    margin: 0 186px 0 0;
    text-align: center;
}
.navigation{
display: flex;
}
.ul{
  display: flex;
  justify-content: center;
    width: 50%;
    align-items: center;
    text-align: center;
}

footer{
background-color: yellow;
padding: 24px 120px 50px 108px;
color: black;
align-items: center;
font-size: 24px;
font-family:Oswald;
}


ul{
display: flex;
justify-content: space-between;
list-style:none;

}

header{
background-color: black;
padding: 24px 120px 17px 108px;
height: 180px;
color: white;
display:flex;
align-items: center;
font-family: Pacifico;
}


nav{
font-size: 36px;
}


h1{
font-size: 36px;
height: 63px;
color: #fff;
}

.HeroContainer {
  display:flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


.HeroPar{
  font-size: 36px;
  padding:100px;
  font-family:Oswald ;
}

.downloadResume{
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: #ff0;
    color: #000;
    font-size: 24px;
    font-family:Oswald ;
  }

.HeroImg{
    width: 380px;
    height: 490px;
    border: solid 25px #000;
    text-align: right;
    border-radius: 10px;
    margin-right:50px;
  }



.skillsContainer{
  text-align: center;
  font-size: 24px;
  justify-content: space-evenly;
  background-color: #ff0;
  padding: 24px 120px 17px 108px;
  font-family:Oswald;
}
@media screen and (max-width: 800px) {
  .skillsContainer {
    width: 100%;
  }
}


.viewproject{
  align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: #ff0;
      font-size: 24px;
      font-family: Oswald;
}

.workContainer{
  text-align: center;
  justify-content: space-evenly;
  background-color: black;
  padding: 24px 120px 17px 108px;
  color: white;
  font-size:24px;
  font-family:Oswald;
}
@media screen and (max-width: 800px) {
  .workContainer {
    width: 100%;
  }
}
h1{
font-size: 64px;
text-decoration: underline;
font-family:Pacifico;
color: #ff0;
}
h2{
font-size: 64px;
text-decoration: underline;
font-family:Pacifico;
border:solid 25px #000;
border-radius: 10px;
background-color: #fff;
padding: 10px;
}

h3{
  font-size: 36px;
  font-family:Pacifico;
  color: #000;

}

h4{
font-size: 36px;
font-family:Pacifico;
color: #ff0;
}

h0{
  font-size: 36px;
  color: #ff0;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .nav {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .header {
      width: 100%;
    }